@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    width: 100%;
    min-height: 100%;
    background: rgb(0, 136, 255);
    padding: 1rem;
    color: rgb(1, 1, 1); 
  }

  h1 {
    text-align: center;
    padding: .5em 1em;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    color: rgb(51, 48, 48);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #adaaaa;
    border-radius: 5px;
    font-size: 1.1rem;
  }

  #formularioButon {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a5fe4;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
  }